@model Jobdoon.Models.Entities.Company
@inject Jobdoon.DataAccess.UnitOfWork.IUnitOfWork unit
@{
    var category = unit.CompanyCategories.Find(c => c.Id == Model.CompanyCategoryId).First();
    var personnelCount = unit.PersonnelCounts.Find(c => c.Id == Model.PersonnelCountId).First();
    var opportunities = unit.Opportunities.Find(o => o.CompanyId == Model.Id);
}
<div class="container-fluid">
    <div class="row">
        <img src="@Jobdoon.Utilities.ImageUtilities.GenerateImageDataUrl(Model.BannerImage)" alt="Alternate Text" class="object-fit-cover p-0" />
    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="container">
        @{
            var imageDataUrl = Jobdoon.Utilities.ImageUtilities.GenerateImageDataUrl(Model.LogoImage);
        }
        <div class="row py-2">
            <div class="col-1">
                <img src="@imageDataUrl" alt="Alternate Text" style="width:100px;height:100px;" />
            </div>
            <div class="col">
                <ul class="nav">
                    <li class="nav-item">
                        <h4>
                            <a class="nav-link text-light" href="#">@Model.PersianName | @Model.LatinName</a>
                        </h4>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">@category.Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">@personnelCount.Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="https://@Model.Website">@Model.Website</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-dark-subtle">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="bg-white p-5 rounded my-4">
                    <p class="fw-bold">معرفی @Model.PersianName</p>
                    <p>@Model.IntroductoryText</p>
                </div>

                @if (opportunities.Count() > 0)
                {
                    <h5 >فرصت های شغلی فعال در @Model.PersianName | @Model.LatinName</h5>
                    <div class="bg-white p-5 rounded my-4">
                        @foreach (var o in opportunities)
                        {
                            var province = unit.Provinces.Get(o.ProvinceId);
                            var assignment = unit.Assignments.Get(o.AssignmentId);
                            var minSalary = unit.MinimumSalaries.Get(o.MinimumSalaryId);

                            <div class="card mb-3 me-3" style="max-width: 420px;">
                                <div class="row g-0">
                                    <div class="col-md-3 p-3">
                                        <img src="@Jobdoon.Utilities.ImageUtilities.GenerateImageDataUrl(Model.LogoImage)" class="img-fluid rounded" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <h5 class="card-title">@o.Title</h5>
                                            <p class="card-text">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill" viewBox="0 0 16 16">
                                                    <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5M4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5m2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5m2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5" />
                                                </svg>
                                                @Model.PersianName
                                            </p>
                                            <p class="card-text">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                                                </svg>
                                                @province.Name
                                            </p>
                                            <p class="card-text">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                                                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                                                </svg>
                                                قرارداد @assignment.Title (@(minSalary.Title==null? ("حقوق از " + Jobdoon.Utilities.StringUtilities.Divide3DigitsByComma(minSalary.Amount.Value) + " تومان") : ("حقوق " + minSalary.Title) ))
                                            </p>
                                            <p class="card-text float-end"><small class="text-muted">@Jobdoon.Utilities.PersianCalendarUtilities.YearMonthDate(o.Date)</small></p>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

