@model Jobdoon.Models.Entities.Company
@inject Jobdoon.DataAccess.UnitOfWork.IUnitOfWork unit
@{
    var category = unit.CompanyCategories.Find(c => c.Id == Model.CompanyCategoryId).First();
    var personnelCount = unit.PersonnelCounts.Find(c => c.Id == Model.PersonnelCountId).First();
}
<div class="container-fluid">
    <div class="row" style="height:375px;">
        <img src="~/images/companywallpaper.jpg" alt="Alternate Text" class="object-fit-cover h-100 p-0" />
    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="container">
        @{
            var imageDataUrl = Jobdoon.Utilities.ImageUtilities.GenerateImageDataUrl(Model.LogoImage);
        }
        <div class="row">
            <div class="col-1">
                <img src="@imageDataUrl" alt="Alternate Text" style="width:100px;height:100px;" />
            </div>
            <div class="col">
                <ul class="nav">
                    <li class="nav-item">
                        <h4>
                            <a class="nav-link text-light" href="#">@Model.PersianName | @Model.LatinName</a>
                        </h4>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">@category.Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">@personnelCount.Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="https://@Model.Website">@Model.Website</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

